{% extends 'base.html' %}

{% load separator to_string %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock css %}

{% block title %}Configurações{% endblock %}

{% block content %}
<section class="content-header">
    <h1>HiChat</h1>
</section>

<div class="row">
    <div class="col-md-4">
        <div class="panel-group" role="tablist">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left">Seus amigos</h4>
                </div>
                <div class="panel-body panel-amigos">
                    {% if amigos %}
                        {% for amigo in amigos %}
                            <div class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="panel panel-default">
                                        <div class="panel-body panel-body-amigos">
                                            <div class="col-xs-6">
                                                <img src="{% static 'imagens/avatar.jpg' %}" class="img-amigo">
                                            </div>
                                            <div class="col-xs-6">
                                                <a href="/usuario/chat/{{ amigo.nome }}">{{ amigo.nome }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        Você ainda não possui amigos!
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">

        <div class="panel-group" role="tablist">
            <div class="panel panel-default">

                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left"><span class="glyphicon glyphicon-comment"></span>
                        {% if amigos %}
                            {% if amigo_selecionado %}
                                {{ amigo_selecionado.nome }}
                            {% else %}
                                Selecione um amigo para conversar!
                            {% endif %}
                        {% endif %}
                    </h3>
                </div>

                <div id="mensagens" class="panel-body msg_container_base">

                    {% for mensagem in mensagens %}
                        {% if mensagem.remetente.id == current_user.id %}
                            <div class="row msg_container base_sent">
                                <div class="col-xs-10 col-md-10">
                                    <div class="messages msg_sent">
                                        <p>{{ mensagem.conteudo }}</p>
                                        <time>{{ mensagem.data }}</time>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-2 avatar">
                                    <img src="{% static 'imagens/avatar.jpg' %}">
                                </div>
                            </div>
                        {% else %}
                            <div class="row msg_container base_receive">
                                <div class="col-md-2 col-xs-2 avatar">
                                    <img src="{% static 'imagens/avatar.jpg' %}">
                                </div>
                                <div class="col-xs-10 col-md-10">
                                    <div class="messages msg_receive">
                                        <p>{{ mensagem.conteudo }}</p>
                                        <time>{{ mensagem.data }}</time>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}


                </div>

                <div class="panel-footer">
                    <div class="input-group">
                        <input id="msg-input" type="text" value="" class="form-control input-sm chat_input" placeholder="Digite sua mensagem aqui..." />
                        <span class="input-group-btn">
                        <button class="btn btn-warning btn-sm" id="btn-chat" onclick="enviarMensagem('{{ amigo_selecionado.nome }}')" >Enviar</button>
                        </span>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>

<script>
    $(document).ready(function() {
        $('#mensagens').scrollTop($('#mensagens')[0].scrollHeight);
        $('#btn-chat').prop('disabled', true);

        $('#msg-input').each(function() {
            var elem = $(this);

            elem.bind("input ", function(event){
                if ("" != elem.val() && "{{ amigo_selecionado.nome }}" != "" ) {
                    $('#btn-chat').prop('disabled', false);
                    $('#btn-chat').attr('class', 'btn btn-success btn-sm');
                }else{
                    $('#btn-chat').prop('disabled', true);
                    $('#btn-chat').attr('class', 'btn btn-warning btn-sm');
                }
            });

        });

    });
</script>

{% endblock content %}

{% block js %}
    <script src="{% static 'js/chat.js' %}"></script>
{% endblock js %}