{% extends 'base.html' %}
{% load static %}
{% block header %}
    {% include 'headerInstrutor.html' %}
{% endblock %}
{% block css %}
 <link rel="stylesheet" href="{% static 'css/gerenciamento_instrutor.css' %}">
{% endblock %}
{% block content %}
<div class="container">
	 <ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="#menuGeral">Geral</a></li>
        <li class="active"><a data-toggle="tab" href="#menuDadosTecnicos">Dados Técnicos</a></li>
    </ul>

    <div class="tab-content">
        <div id="menuGeral" class="tab-pane fade in fade">
            <h3>Geral</h3>
        </div>
        <div id="menuDadosTecnicos" class="tab-pane active">
            <h3>Dados Técnicos</h3>
             <form method="POST">{% csrf_token %}
				{{cadastroDadosTecnicos}}
				<br>
				<input class="btn btn-primary" type="submit" value="Pronto" />
			</form>
        </div>
</div>
{% endblock %}