<header class="main-header">
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">HiFit</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            {% if not request.user.is_authenticated %}
                <div class="navbar-custom-menu pull-right">
                    <ul class="nav navbar-nav">
                            <li><a href="#">Sobre</a></li>
                            <li><a href="/usuario/cadastro">Cadastrar</a></li>
                            <li><a href="/usuario/login">Entrar</a></li>
                    </ul>   
                </div>
            {% else %}
                <div class="navbar-custom-menu pull-left">
                    <ul class="nav navbar-nav">
                        {% if aluno %}
                            {% include 'headerAluno.html' %}
                        {% else %}
                            {% include 'headerInstrutor.html' %}
                        {% endif %}
                        <li><a href="/usuario/amigos">Amigos</a></li>
                        <li><a href="/usuario/perfil">Perfil</a></li>
                        <li><a id="estatistica" href="/usuario/estatisticas">Estatísticas</a></li>
                    </ul>
                </div>
                <div class="navbar-custom-menu pull-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/usuario/gerenciar">Conta</a></li>
                        <li><a href="/sobre">Sobre</a></li>
                        <li><a href="/fale-conosco">Fale Conosco</a></li>
                        <li><a href="/usuario/logout">Sair</a></li>
                    </ul>   
                </div>
            {% endif %}
        </div>
    </nav>
</header>

<script>
    $(document).ready(function(){
        $("a[id='estatistica']").attr("href", "/usuario/estatisticas");
        $("a[id='recomendacoes']").attr("href", "/aluno/buscar-recomendacoes");
        $("a[id='historico_recomendacoes']").attr("href", "/aluno/historico_recomendacoes");
        if ({{ cadastro_completo }} == 0)
            $("a[id='estatistica'], a[id='recomendacoes'], a[id='historico_recomendacoes']").removeAttr("href");
    });
</script>