<header class="main-header">
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">HiFit</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="navbar-custom-menu pull-right">
                <ul class="nav navbar-nav">
                    {% if not request.user.is_authenticated %}
                        <li><a href="#">Sobre</a></li>  
                        <li><a href="/usuario/login">Entrar</a></li>
                        <li><a href="/usuario/cadastro">Cadastrar</a></li>
                    {% else %}
                        <li><a href="/usuario/logout">Sair</a></li>
                    {% endif %}
                </ul>   
            </div>
        </div>
    </nav>
</header>