<header class="main-header">
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">HiFit</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="navbar-custom-menu pull-left">
                <ul class="nav navbar-nav">
                      <li><a href="/aluno/gerenciar/">Gerenciamento</a></li>
                      <li><a href="/usuario/perfil">perfil</a></li>
                </ul>
            </div>
            <div class="navbar-custom-menu pull-right">
                <ul class="nav navbar-nav">
                    <li><a href="/usuario/logout">Sair</a></li>
                </ul>
            </div>
            <div class="navbar-custom-menu pull-right">
                <ul class="nav navbar-nav">
                    <li><a href="/usuario/gerenciar">Conta</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a id="fale-conosco">Fale Conosco</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<script>
    $(document).ready(function(){ 
        var teste = "{{ cadastro }}"
        if (teste == "completo")
            $("a[id='fale-conosco']").attr("href", "/fale-conosco");
        else
            $("a[id='fale-conosco']").removeAttr("href");   
    });
</script>