{% extends 'base.html' %}

{% block header %}
    {% include 'headerInstrutor.html' %}
{% endblock header %}

{% block content %}

<section class="content-header">
    <h1>Regras</h1>
</section>
<section class="content">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#menu-cadastro">Cadastro</a></li>
        <li><a data-toggle="tab" href="#menu-minhas-regras">Minhas Regras</a></li>
        <li><a data-toggle="tab" href="#menu-outras-regras">Outras Regras</a></li>
    </ul>
    <div class="tab-content">
        <div id="menu-cadastro" class="tab-pane fade in active">
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <hr/><button type="submit" name="salvarRegra" class="btn btn-default pull-right">Salvar</button>
                </form>
            </div>
        </div>

        <div id="menu-minhas-regras" class="tab-pane fade">
            <h3>Minhas Regras</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Atividade</th>
                    <th>Restrição</th>
                    <th>Benefício</th>
                    <th>Malefício</th>
                </tr>
                </thead>
                <tbody>
                {% for regra in minhas_regras %}
                <tr>
                    <td>{{ regra.atividade.nome }}</td>
                    <td>{{ regra.restricao.descricao }}</td>
                    <td>{{ regra.beneficios.descricao }}</td>
                    <td>{{ regra.maleficios.descricao }}</td>
                    <td>
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modal-edicao">Editar</button>
                        <button type="button" class="btn btn-link">Excluir</button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="menu-outras-regras" class="tab-pane fade">
            <h3>Outras Regras</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Atividade</th>
                    <th>Restrição</th>
                    <th>Benefício</th>
                    <th>Malefício</th>
                </tr>
                </thead>
                <tbody>
                {% for regra in outras_regras %}
                <tr>
                    <td>{{ regra.atividade.nome }}</td>
                    <td>{{ regra.restricao.descricao }}</td>
                    <td>{{ regra.beneficios.descricao }}</td>
                    <td>{{ regra.maleficios.descricao }}</td>
                    <td>
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modal-edicao">Solicitar Edição</button>
                        <button type="button" class="btn btn-link">Solicitar Exclusão</button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>


<!-- Modal -->
<div id="modal-edicao" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edição de Regra</h4>
            </div>
            <div class="modal-body">
                <form method="PATCH">
                    {% csrf_token %}
                    {{ form }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" name="atualizarRegra" class="btn btn-default">Salvar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}