{% extends 'base.html' %}
{% load l10n %}

{% block css %}
	
    <link rel="stylesheet" href="/static/bootstrap-star-rating/css/star-rating.css">	
	
	<style>
		.post-container {
			margin-bottom: 30px;
			background-color: #eee;
			border-style: solid;
			border-width: 1px;
			border-radius: 6px;
			border-color: #aaa;
		}

		.post-container .post-usuario {
			padding: 10px;
		}

		.post-container .post-dados {
			padding-left: 10px;
		}

		.post-container p, h4, a {
			padding: 10px 10px 10px 10px;
		}

		.comment-container {
			padding: 5px 5px 5px 5px;
		}

		.comment-container p {
			padding: 5px 0px 5px 5px;			
			margin: 0;
		}

		.comment-container p a {
			padding: 0px 0px 0px 0px;			
			margin: 0;
		}

		.comment-container textarea {
			padding: 5px 0px 0px 5px;			
			margin: 0;
		}

		.hr-black {
			border-color: black;
		}

		.hr-gray2 {
			border-color: #aaa;
		}

		.hr-gray {
			border-color: #ccc;
		}

		.non-margin {
			margin-top: 0;
			margin-bottom: 0;	
		} 

 	    .details li {
	    	list-style: none;
	    	padding-left: none;
	    }

	    .post-container li {
	        margin-bottom:10px;
	    }
	</style>
{% endblock %}

{% block title %}Linha do Tempo{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-4 col-md-4"> 
			<h3>Tópicos em alta</h3>
			<div class="panel panel-primary">
				teste
			</div>
		</div>
		<div class="col-lg-8 col-md-8" style="padding-left:20px; border-left: 1px solid #ccc;">
			<h3>Linha do tempo</h3>
			{% for p in posts %}
				<div class="post-container" id="post-conteudo">
					<div class="post-content">						
						<div class="row">
							<div class="col-md-4 nopadding"><p><b><a style="padding-left: 0px" href="/usuario/perfil/?usuario={{ p.usuario.user.username }}">{{ p.usuario.nome }}</a></b></p></li></div>
							<div class="col-md-8"><p class="pull-right">{{ p.data }}</p></div>
						</div>
						<p>{{ p.conteudo }}</p>
					</div>
					
					<hr class="hr-gray2 non-margin">
					<div class="post-dados">
						<table style="width: 100%">
							<tr>
								<td>
									{% if p.privacidade != 0 %}
										<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
									{% else %}
										<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
									{% endif %}	
								</td>
								<td align="right" style="width: 83%;"><span><a href="#">Denunciar</a>| </span> <td>
								<td align="right" style="padding-right: 5px">
									{% localize off %}
									<input id="{{ p.id }}" value="{{ p.classificacao.nota }}" class="rating" step=0.5 min=0 max=5 data-show-clear="false" 
							   			   data-show-caption="false" data-size="xxs"/>
									{% endlocalize %}
								</td>
							</tr>
						</table>
					</div>

					<div class="comment-container">
						{% if p.comments.all %}
							<hr class="hr-gray2 non-margin">
						{% endif %}
						{% for c in p.comments.all %}
							<p style="font-size: 0.9em;"><a href="/usuario/perfil/?usuario={{ c.usuario.user.username }}">{{ c.usuario.nome }}</a> - {{ c.data }}</p>
							<p style="color: #111">{{ c.conteudo }}</p>
						{% endfor %}
						{% if p.comments.all %}
							<hr class="hr-gray2">
						{% endif %}
						<textarea class="form-control form-comentario" type="textarea" id="{{p.id}}c" onkeypress="onKeyDown(event.keyCode, event.shiftKey, {{p.id}});" rows="1" placeholder="Escreva um comentário..." style="resize: none;"></textarea>
					</div>
				</div>
			{% endfor %}
			<div class="pagination">
			    <span class="step-links">
			        {% if posts.has_previous %}
			            <a href="/?page={{ posts.previous_page_number }}"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span></a>
			        {% endif %}

			        <span class="current">
			            {% if posts %}
			            	Página {{ posts.number }} de {{ posts.paginator.num_pages }}.
			            {% endif %}
			        </span>

			        {% if posts.has_next %}
			            <a href="/?page={{ posts.next_page_number }}"><span class="glyphicon glyphicon-forward" aria-hidden="true"></span></a>
			        {% endif %}
			    </span>
			</div>

		</div>
	</div>
{% endblock %}

{% block js %}

	<script>
		function onKeyDown(e, s, id) {
			if (e == 13) {
				$.ajax({
					type: 'POST',
					url: '/usuario/perfil/',
					data: {
						'csrfmiddlewaretoken': '{{ csrf_token }}',
						'comentario': 'comentario',
						'conteudo': $('#'+id+'c').val(),
						'id': id
					}
				});
				$('#'+id+'c').val('');
				location.reload();
    		}
    	};
	</script>

	<script>
	    $(document).ready(function() {
	        $('.rating').on('rating.change', function(event, value, caption) {
	            avaliarPost($(this).attr("id"), value);
	            location.reload();
	        });
	    });
	</script>

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src='/static/bootstrap-star-rating/js/star-rating.js'></script>
	<script src='/static/js/posts.js'></script>
{% endblock %}
